.form-control {
  width: 525px;
  margin: 0 auto;
}

.btn {
  position: relative;
  top: -38px;
  left: 915px;
}

.temperature {
  color: dimgray;
  font-size: 70px;
  text-align: center;
}
.city {
  color: dimgray;
  font-size: 30px;
  text-align: center;
}

.feel {
  text-align: center;
  color: dimgray;
  font-size: 15px;
}
.humidity {
  text-align: center;
  color: dimgray;
  font-size: 15px;
}
.dia {
  text-align: center;
  border: solid;
  border-color: rgb(124, 124, 124);
  border-bottom-width: 0px;
  color: rgb(124, 124, 124);
  margin: 0 auto;
}
.tempdia {
  text-align: center;
  border: solid;
  border-color: rgb(124, 124, 124);
  font-size: 30px;
  color: rgb(124, 124, 124);
  border-top-color: rgb(182, 181, 181);
  margin: 0 auto;
}
h2 {
  color: rgb(124, 124, 124);
  font-size: 18px;
  text-align: center;
}
.tempType {
  text-align: center;
}
.source-link {
  display: block;
  text-align: center;
  font-size: 12px;
}
