.btn {
  margin-top: 25px;
  padding-left: 45px;
  padding-right: 45px;
  font-size: 15px;
}

.temperature {
  color: rgb(255, 255, 255);
  font-size: 70px;
  text-align: center;
  text-shadow: 2px 2px 4px #4c4c4c;
}
.city {
  color: rgb(255, 255, 255);
  font-size: 60px;
  text-align: center;
  text-shadow: 2px 2px 4px #4c4c4c;
}

.feel {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 15px;
}
.humidity {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 15px;
}
.dia {
  text-align: center;
  border: solid;
  border-color: rgb(27, 87, 148);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-width: 0px;
  color: rgb(255, 255, 255);
  margin: 0 auto;
  background-color: rgb(27, 87, 148);
}

.tempdia {
  text-align: center;
  border: solid;
  border-color: rgb(27, 87, 148);
  font-size: 30px;
  color: rgb(124, 124, 124);
  border-top-color: rgb(27, 87, 148);
  margin: 0 auto;
}
h2 {
  color: rgb(255, 255, 255);
  font-size: 18px;
  text-align: center;
}
.tempType {
  text-align: center;
  color: rgb(255, 255, 255);
}
a {
  color: #05006a;
}
a:hover {
  text-decoration: none;
  color: #b9b8c9;
}
.sourceCode {
  color: #180747;
}

.source-link {
  display: block;
  text-align: center;
  font-size: 12px;
}

h3 {
  text-align: center;
}

#condition-icon {
  margin: 0 auto;
  display: block;
}

#condition-text {
  text-align: center;
  color: rgb(255, 255, 255);
}

.displayApp {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(59, 149, 237) 0%,
    rgb(7, 91, 173) 90%
  );
  margin-left: 70px;
  margin-right: 70px;

  border-radius: 10px;
}
